
 body {
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.bgColor{
  background: red!important;
}
/* @import './cardReader.css'; */
/* @import './Centrifuge.css'; */
/* @import './refrigerator.css'; */
/* @import './choicelaboratory.css'; */

@import './reset.css';
@import './check.css';
