.cardWrap {
  width: 100%;
}
.cardWrap .parameterWrap {
  width: 700px;
  height: 80px;
  border: 1px solid #999999;
  position: relative;
  margin: 0 auto;
}
.cardWrap .parameterWrap .parameter {
  font-size: 16px;
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cardWrap .parameterWrap .parameter .type {
  margin: 0 15px;
  font-size: 18px;
}
.cardWrap .parameterWrap .parameter .btn {
  margin-left: 15px;
}
.cardWrap .parameterWrap strong {
  position: absolute;
  font-size: 20px;
  top: -15px;
  left: 45%;
  background: white;
  display: inline-block;
  line-height: 20px;
  padding: 0px 10px;
  width: 100px;
  margin: 0 auto;
  text-align: center;
}
