.CentrifugeTable .edit {
  margin-right: 15px;
  cursor: pointer;
  font-size: 18px;
}
.addBox .addContent > div {
  margin-top: 15px;
}
.addBox .addCentrifuge {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.addBox .addCentrifuge .addA {
  width: 20%;
}
.addBox .addCentrifuge .addB {
  width: 60%;
}
.addBox .addCentrifuge .addC {
  width: 25%;
  margin-left: 10px;
}
