.checkRecord {
  margin-top: 25px;
  text-align: center;
  cursor: pointer;
}
.checkRecord img {
  width: 32px;
  height: 32px;
}
.formContent {
  height: 200px;
}
.formNum {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 7px;
}
.formNum span {
  margin-right: 7px;
}
.formNum img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  vertical-align: middle;
  cursor: pointer;
}
.recordTitle {
  display: flex;
  justify-content: space-between;
}
.recordTitle > div {
  display: flex;
  align-items: center;
  width: 45%;
}
.recordTitle > div button {
  margin-left: 10px;
}
.recordTitle > div .recordType {
  width: 50%;
}
.recordTitle > div .recordTime {
  width: 20%;
}
.recordTitle > div /deep/ .el-input {
  margin-right: 10px;
}
.notice {
  color: #fa3849;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.notice i {
  margin-right: 3px;
}
