.refrigeratorBox .addContent > div {
  margin-top: 15px;
  text-align: center;
  margin-left: 30px;
}
.refrigeratorBox .addCentrifuge {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.refrigeratorBox .addCentrifuge .addA {
  width: 28%;
}
.refrigeratorBox .addCentrifuge .addB {
  width: 60%;
}
